* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('./kyun-be.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: red;
}

a {
    display: block;

}